.all-todos-main{
    width: 100%;
    height: 100%;
    z-index: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    /* background-image: url('../../../nodata.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30vh; */
    
}

.main-box{
    display: flex;
    flex-direction: row;
}

.left-part{
    flex: 1;
    height: 90vh;
}

.right-part{
    flex: 2
}