.all-todos-main{
    width: 100%;
    height: 100%;
    z-index: 0;
}


.main-box{
    display: grid;
    margin: 5px 20px 5px 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    grid-auto-flow: row;
}

.item-x{
    background: red;
    height: 40vh;
}
