.todo-modal{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

#todo-modal-title-div{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dismiss-btn{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.color-chooser{
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: row;
  border-radius: 30px;
  /* background: rgba(0, 0, 0, 0.1); */
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
  width: 80%;
}

.color-item{
  width: 20px;
  height: 20px;
  background: #f4946f;
  border: 1px solid black;
  border-radius: 100%;
}

.todo-form{
}

#title-text-div{
  width: 90%;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

#title-inp{
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border-radius: 50px;
  border: 1px solid #888888;
  flex: 1;
}

#desc-inp{
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  max-height: 15vh;
  min-height: 15vh;
  padding: 10px;
  margin: 10px 40px 10px 10px;
  border-radius: 10px;
  resize: none;
  border: 1px solid #888888;
  outline: none;
}

#time-limit-div-todo-box{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 50px;
  margin: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
}

#time-limit-div-todo-box > p{
  margin-left: 10px;
  margin-right: 10px;
}

.from-date-div{
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
}

.from-date-div > p{
  font-size: 12px;

}

.from-date-div:hover{
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
}

#submit-todo-btn{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  background: rgba(0, 0, 0, 0.1);
}


#submit-todo-btn:hover{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  background: rgba(0, 0, 0, 0.2);

}

