.todo-item-main{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* box-shadow: 5px 10px 18px #888888 */
.todo-box{
    min-height: 35vh;
    background: #f4946f;
    border-radius: 30px;
    padding: 20px;
}

.todo-box:hover{
    min-height: 35vh;
    background: #f4946f;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
}

.todo-outline-undone{
    width: 90%;
    height: 80%;
    border-radius: 0% 100% 100% 100%;
    background: #f74f4f;
}

.todo-outline-done{
    width: 90%;
    height: 90%;
    border-radius: 0% 100% 100% 100%;
    background: #77dc7e;
}


#todo-item-title-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#todo-desc{
    font-size: 30px;
    text-align:left;
    flex: 2;
    overflow:hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#arrow-icon{
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

#arrow-icon:hover{
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}


#bottom-bar-todoitem{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#time-limit-div{
    flex: 1;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time-limit-div:hover{
    flex: 1;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#date-todo{
    margin: 1px;
    font-size: 13px;
    overflow: hidden;
    word-wrap: break-word;
}

#edit-btn{
    background: blue;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit-btn:hover{
    background: blue;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}